body {
    background-color: rgb(27, 27, 27);;
}

h1 {
    font-family: arial;
    color: #48a7ff;
    font-weight: bold;
    cursor: default;
    transition: 0.4s;
}


article {
    font-family: arial;
    color: #ff6262;
    font-weight: bold;
    cursor: default;
    font-size: 15px;
}

input {
    background-color: rgb(77, 77, 77);
    border: 0px;
    border-radius: 20px;
    width: 300px;
    height: 20px;
    font-family: arial;
    font-weight: bold;
    color: #ffffff;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

input:focus {
    outline-width: 0px;
}

select {
    background-color: rgb(0, 0, 0);
    border: 0px;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    font-family: arial;
    font-weight: bold;
    color: #5660f7;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
}

select:focus {
    outline-width: 0px;
}

.submit {
    background-color: #5660f7;
    color: #171f91;
    border: 0px;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

.submit:hover {
   transform: rotate(5deg);
   filter: brightness(130%);
}

/* Page Header */

.top {
    width: auto;
    position: fixed;
    width: 100%;
    margin: -8px;
    background-color: rgba(0, 0, 0, 0.822);
    height: 70px;
    padding-top: 16px;
    padding-left: 20px;
}

.z-logo {
    transition: 0.4s;
    float: left;
}

.z-logo:hover {
    filter: drop-shadow(0px 0px 18px #48a7ff);
}

.sigjj {
    background-color: rgba(0, 0, 0, 0);
    width: 70%;
    height: 70px;
    padding-top: 10px;
    padding-right: 20px;
}

.joinbtn {
    background-color: rgb(53, 58, 124);
    border:0px;
    border-radius: 20px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 60px;
    transition: 0.4s;
}

.crtbtn {
    background-color: rgb(73, 136, 218);
    border:0px;
    border-radius: 20px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 60px;
    transition: 0.4s;
}

.imgbtn {
    background-color: rgb(221, 173, 39);
    border: 0px;
    border-radius: 20px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 100px;
    transition: 0.4s;
}

.store {
    background-color: rgb(94, 39, 221);
    border: 0px;
    border-radius: 20px;
    font-size: 12px;
    font-family: Arial;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 80px;
    transition: 0.4s;
}

#topbutton1:hover {
    filter: brightness(80%);
 }

/* Page Header */

@media (max-width: 800px) {

    .item {
        width: 370px;
    }

    /* Page Header */
    .sigjj {
        transform: translateY(60px);
    }

    .top {
        position: fixed;
        height: 140px;
        width: 100%;
    }

    .z-logo {
        position: fixed;
        padding-left: 50%;
        margin-left: -43px;
        height: 50px; 
        width: 50px;
    }
    /* Page Header */
}