body {
    background-color: rgb(3, 0, 20);
}

.top {
    width: auto;
    position: fixed;
    width: 100%;
    margin: -8px;
    z-index: 4;
    background-color: rgba(14, 0, 104, 0.534);
    height: 70px;
    padding-top: 16px;
    padding-left: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

/* Font Packs */

.robotoc {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* Previews */
#StoreUpdateMenu {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #5c5edd;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}

#ZetroTokensUpdateMenu {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #fff065;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}

#ZetroPlusUpdateMenu {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #ff65a0;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}

#ZagUpdateMenu {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #d365ff;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}

#UserAMenu {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #6568ff;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}

#UserBMenu {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #6568ff;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}

#UserCMenu {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #6568ff;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}

#UserDMenu {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #6568ff;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}

#ContentA {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #6568ff;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}

#ContentB {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #6568ff;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}

#ContentC {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #6568ff;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}

#ContentD {
    background-color: rgba(0, 0, 0, 0.651);
    backdrop-filter: blur(19px);
    z-index: 5;
    width: 100%;
    height: 100%;
    position: fixed;
    margin: -8px;
    font-family: "Roboto Condensed", sans-serif;
    color: #6568ff;
    font-size: 35px;
    visibility: hidden;
    cursor: default;
}


#prev-p {
    font-size: 25px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    z-index: 6;
}

/* End of Previews */

.store {
    background-color: rgb(76, 0, 255);
    border: 0px;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 80px;
    border-radius: 20px;
    transition: 0.4s;
}

article {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: aliceblue;
    font-size: 20px;
    cursor: pointer;
    transition: 0.4s;
}

article:hover {
    font-size: 25px;
    filter: brightness(150%);
}

.content-wrapper {
    margin: -8px;
    background-color: rgba(233, 32, 32, 0);
    width: 90%;
    height: auto;
    display: flex;
    gap: 30px;
    padding-left: 20px;
}

/* Content Items Left Front and Center */

.Content-Item_Left {
    width: 200px;
    height: 180px;
    background-color: black;
    border-radius: 15px;
    transition: 0.4s;
    padding-left: 15px;
    cursor: pointer;
    transform: 0.4s;
}

.content-display-img {
    width: 200px;
    height: 180;
    border-radius: 15px;
    padding-left: 0px;
    filter: opacity(50%);
}

.Content-Item_Left:hover {
    transform: translateY(-5px);
    transform: scale(110%);
}

h2 {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 4900;
    color: #76a6ff;
    font-size: 50px;
    font-weight: bold;
    cursor: default;
}

.bottom {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    cursor: default;
}


#updates {
    font-family: "Roboto Condensed", sans-serif;
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

#Blue {
    color: #3355c4;
    font-weight: bold;
}

#Purple {
    color: #c433b8;
    font-weight: bold;
}

#Green {
    color: #33c47c;
    font-weight: bold;
}

#Yellow {
    color: #e2b332;
    font-weight: bold;
}

#Red {
    color: #c44933;
    font-weight: bold;
}

.top-wrapper {
    background-color: #3335c400;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.topdiv1 {
    background-color: rgb(0, 4, 22);    background-color: rgb(4, 16, 73);    width: 30%;
    height: 300px;
    padding-top: 45px;
    transition: 0.4s;
}

.topdiv2 {
    background-color: rgb(4, 16, 73);
    width: 30%;
    height: 300px;
    padding-top: 45px;
    transition: 0.4s;
}

.topdiv3 {
    background-color: rgb(4, 16, 73);
    width: 30%;
    height: 300px;
    padding-top: 45px;
    transition: 0.4s;
}

.rlybtn {
    background-color: rgb(255, 154, 22);
    border:0px;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 20px;
    width: 60px;
    transition: 0.4s;
}

.topbtn {
    background-color: rgb(212, 0, 255);
    border:0px;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 60px;
    border-radius: 20px;
    transition: 0.4s;
}

.topdiv1:hover {
    background: rgb(5, 2, 48);
}

.topdiv2:hover {
    background: rgb(5, 2, 48);
}

.topdiv3:hover {
    background: rgb(5, 2, 48);
}

.Content-Name {
    font-size: larger;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: #48a7ff;
    padding-left: 10px;
    padding-top: 10px ;
    cursor: pointer;
}
 .Tag {
    font-size: 13px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(92, 92, 92);
    cursor: pointer;
 }

 .Zag {
    font-size: 13px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(44, 62, 223);
    cursor: pointer;
 }

 .OS {
    font-size: 13px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(123, 54, 233);
    cursor: pointer;
 }

/* Content Items Left Front and Center */

.z-logo {
    transition: 0.4s;
    float: left;
    
}

.z-logo:hover {
    filter: drop-shadow(0px 0px 18px #0385ffc7);
}

.bigbanner {
    background-image: url(https://zetrogames.com/helensburgh_advert.png);
    width:100%;
    height: 400px;
    opacity: 90%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.All {
    font-size: x-large;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 500;
    color: #48a7ff;
    padding-left: 20px;
}


/* Img Sources */
#Popular-N1 {
    background-image: url(https://i.ibb.co/D7LjGrw/ong-awdi3n3.png);
}
/* End of Img Sources */

.sigjj {
    background-color: rgba(0, 0, 0, 0);
    width: 70%;
    height: 70px;
    padding-top: 10px;
    padding-right: 20px;
}

.joinbtn {
    background-color: rgb(53, 58, 124);
    border:0px;
    font-size: 15px;
    border-radius: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 60px;
    transition: 0.4s;
}

.crtbtn {
    background-color: rgb(73, 136, 218);
    border:0px;
    font-size: 15px;
    border-radius: 20px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 60px;
    transition: 0.4s;
}


.options {
    float: right;
    background-color: rgba(0, 0, 0, 0);
    width: 300px;
    font-weight: bold;
    height: 70px;
    padding-top: 10px;
    padding-right: 20px;
}

.homebtn {
    background-color: rgb(248, 115, 115);
    border: 3px;
    border-color: transparent;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 60px;
    transition: 0.4s;
}

.gamesbtn {
    background-color: rgb(47, 223, 62);
    border: 0px;
    border-radius: 20px;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 60px;
    transition: 0.4s;
}

#topbutton1:hover {
   filter: brightness(80%);
}


.imgbtn {
    background-color: rgb(255, 51, 0);
    border: 3px;
    border-color: transparent;
    font-size: 15px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 100px;
    transition: 0.4s;
    border-radius: 20px;
}

.vidbtn {
    background-color: rgb(80, 16, 75);
    border: 0px;
    border-radius: 20px;
    font-size: 12px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    height: 40px;
    width: 60px;
    transition: 0.4s;
}

/* Featured Content Page */

#A-btn {
  background-color: rgb(28, 153, 255);
  width: 60px;
}

#B-btn {
  background-color: rgb(255, 61, 61);
  width: 80px;
}

#C-btn {
  background-color: rgb(42, 189, 115);
  width: 80px;
}

#D-btn {
  background-color: rgb(236, 195, 13);
  width: 70px;
}

#more-btns {
  background-color: rgb(0, 0, 0);
  width: 70px;
  border: 3px solid rgb(255, 255, 255);
  float: right;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.btn-filter {
  width: 40px;
  height: 40px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(255, 255, 255);
  padding: 10px;
  border: 3px solid white;
  font-weight: bold;
  transition: 0.4s;
}

.btn-filter:hover {
  transform: rotate(5deg);
}

#extras {
  opacity: 0%;
  font-size: 17px;
  font-family: "Roboto Condensed", sans-serif;
  color: rgb(164, 85, 255);
}

a {
  text-decoration: none;
  color:rgb(164, 85, 255);
}

#extrasG {
  opacity: 0%;
  font-size: 25px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  color: rgb(119, 0, 255);
}

.btn-zags {
  width: 120px;
  height: 40px;
  font-family: "Roboto Condensed", sans-serif;
  background-color: rgb(57, 57, 255);
  color: rgb(255, 255, 255);
  padding: 10px;
  border: 3px solid white;
  font-weight: bold;
  transition: 0.4s;
}

#none-found {
    font-family: "Roboto Condensed", sans-serif;
  font-weight: bolder;
  color: rgb(224, 63, 63);
  font-size: 20px;
  display: none;
}

#fi {
  margin: auto;
  height: 45px;
  background-color: #131313;
}

.filter {
  background-color: rgb(45, 47, 180);
  width: 800px;
  padding: 10px;
}

#title {
    color: rgb(74, 119, 243);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 20px;
    float: left;
}

pre {
    color: rgb(255, 255, 255);
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
}

.text {
    height: 300px;
    width: 800px;
    background-color: black;
    transition: 0.4s ease-in-out;
    margin: auto;
}

/* image post start */

.image {
    height: 300px;
    width: 800px;
    padding: 0px;
    margin: auto;
    background-repeat: no-repeat;
    background-size:cover;
    background-clip: content-box;
    backdrop-filter: opacity(20%);
    background-position: center;
    transition: 0.4s ease-in-out;
}

.upper-info {
    background: rgb(19,19,19);
    background: linear-gradient(180deg, rgb(19, 19, 19) 55%, rgba(0, 0, 0, 0) 100%);
    height: 100px;
    padding: 10px;
}

#find {
    color: rgb(93, 136, 255);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bolder;
    font-size: 2rem;
    cursor: default;
}

#videos {
  display: block;
}

#images {
  display: block;
}

#texts {
  display: block;
}

#zag {
    color: rgb(93, 5, 255);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 20px;
    float: right;
}


#tag {
    color: rgb(104, 104, 104);
    font-family: "Roboto Condensed", sans-serif;
    font-weight: bold;
    font-size: 20px;
    float: right;
}

a {
   text-decoration-line: none; 
}

.wrapperSec {
  width: 100%;
  height: 100%;
  margin: auto;
  padding-top: 50px;
  background-color: rgba(255, 116, 116, 0);
  display: flex;
  flex-direction: column;
  gap: 40px;
  transition: 0.4s;
}

/* image post end */

.image:hover {
  scale: 1.1;
  cursor: pointer;
  box-shadow: -1px 17px 76px -5px rgba(0,0,0,0.6);
-webkit-box-shadow: -1px 17px 76px -5px rgba(0,0,0,0.6);
-moz-box-shadow: -1px 17px 76px -5px rgba(0,0,0,0.6);
margin-top: -10px;
}

.text:hover {
    scale: 1.1;
    cursor: pointer;
    box-shadow: -1px 17px 76px -5px rgba(0,0,0,0.6);
-webkit-box-shadow: -1px 17px 76px -5px rgba(0,0,0,0.6);
-moz-box-shadow: -1px 17px 76px -5px rgba(0,0,0,0.6);
}

@media (max-width: 900px) {
  .image {
    width: 350px;
  }

  .bigbanner {
    height: 200px;
    background-position: center;
  }

  .text {
    width: 350px;
  }

  pre {
    font-size: 15px;
  }

  #title {
    font-size: 1rem;
  }

  #more-btns {
    font-size: 10px;
    width: 45px;
  }

  .filter {
    width: 350px;
  }

  #zag {
    font-size: 1rem;
  }

  #tag {
    font-size: 1rem;
  }
}

/* Media Querys */

@media (max-width: 800px) {
    .top-wrapper {
        flex-direction: column;
        padding-left: 7%;
    }

    .topdiv1 {
        width: 90%;
        height: 230px;
   }

    .topdiv2 {
        width: 90%;
        height: 230px;
    }

    .topdiv3 {
        width: 90%;
        height: 230px;
    }

    h2 {
        font-size: 35px;
    }

    .bottom {
        font-size: 20px;
    }

    .sigjj {
        transform: translateY(60px);
    }

    .top {
        position: fixed;
        height: 170px;
        width: 100%;
    }

    .z-logo {
        position: fixed;
        padding-left: 50%;
        margin-left: -43px;
        height: 50px; 
        width: 50px;
    }
}
